In [1]:
#Load libraries
import numpy as np
import pandas as pd
from sklearn.metrics import f1_score,accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [2]:
#Loading the Dataset
df_stroke = pd.read_csv('Stroke_Prediction_Dataset_from_Fedesoriano.csv')
df_stroke

,Unnamed: 0,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [3]:
#Preprocessing the Data by selecting only 4 features (arbitrarily)
df_stroke = df_stroke[['age', 'hypertension', 'heart_disease', 'avg_glucose_level', 'bmi', 'stroke']]
df_stroke = df_stroke.dropna(subset=['bmi'], axis=0)
df_stroke

       age  hypertension  heart_disease  avg_glucose_level   bmi  stroke
0     67.0             0              1             228.69  36.6       1
2     80.0             0              1             105.92  32.5       1
3     49.0             0              0             171.23  34.4       1
4     79.0             1              0             174.12  24.0       1
5     81.0             0              0             186.21  29.0       1
...    ...           ...            ...                ...   ...     ...
5104  13.0             0              0             103.08  18.6       0
5106  81.0             0              0             125.20  40.0       0
5107  35.0             0              0              82.99  30.6       0
5108  51.0             0              0             166.29  25.6       0
5109  44.0             0              0              85.28  26.2       0

[4909 rows x 6 columns]

NORMALLY WE WANT TO PREDICT THE STROKE, BUT BECAUSE WE HAVE AN ERROR ('STROKE ATTRIBUTE CANNOT BE FOUND IN THE DATAFRAME') WE WILL USE HEART DISEASE AS OUR TARGET VALUE Y

In [4]:
#Splitting into Train and Test set
y = df_stroke.heart_disease
df_stroke.drop(['heart_disease'], axis=1, inplace=True)
X = df_stroke

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=2)

In [5]:
#Training the model
DT = DecisionTreeClassifier()
DT.fit(X_train,y_train)

DecisionTreeClassifier()

In [6]:
#Evaluating the model
pred=DT.predict(X_test)

print(accuracy_score(y_test,pred))
print(f1_score(y_test,pred))

0.9112377850162866
0.14173228346456693

In [8]:
#Classification Report
from sklearn.metrics import classification_report
y_true = y
y_pred = pred
target_names = 'heart_disease'
print(classification_report(y_true, y_pred, target_names=target_names))

ValueError: Found input variables with inconsistent numbers of samples: [4909, 1228]